<header class="panel-cover {{#if post}}panel-cover--collapsed{{/if}} {{#if code}}panel-cover--collapsed{{/if}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        {{#if @blog.logo}}
        <a href="{{@blog.url}}" title="link to homepage for {{@blog.title}}"><img src="{{@blog.logo}}" width="80" alt="{{@blog.title}} logo" class="panel-cover__logo logo" /></a>
        {{/if}}
        <h1 class="panel-cover__title panel-title"><a href="{{@blog.url}}" title="link to homepage for {{@blog.title}}">{{@blog.title}}</a></h1>
        {{!-- <span class="panel-cover__subtitle panel-subtitle">Visual Designer</span> --}}
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">{{@blog.description}}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="http://josezamudio.me" title="Personal Website" class="blog-button">Personal Website</a></li>
            </ul>
          </nav><br>

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="/#blog" title="link to {{@blog.title}} blog" class="blog-button">Blog</a></li>
            </ul>
          </nav><br>

          {{> social}}

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-59523763-2', 'auto');
ga('send', 'pageview');

  </script>
</header>
